* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    text-transform: uppercase;
    font-size: 1.52rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    width: 250px;
    border: 1px solid #d2d1d1;
    padding: 1rem;
    border-radius: 3px;
}

.display-sec input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .4rem .6rem;
    border: none;
    border: 1px solid #d2d1d1;
    text-transform: uppercase;
    border-radius: 2px;
}

.display-sec input:focus {
   outline: none;
}

.input-sec {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.input-sec .range {
    width: 100%;
    margin-top: -.2rem;
    appearance: none;
    height: .5rem;
    cursor: pointer;
    background-color: gray;
    border-radius: 1px;
}



.checks {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.checks div {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.checks div input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(118, 117, 117);
    border-radius: 2px;
}

.length-sec {
    display: flex;
    justify-content: space-between;
}

.strength-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.indicator {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(31, 194, 99);
    box-shadow: 0 0 2px rgba(0,0,0.3);
}

.btn {
    margin-top: .5rem;
    padding: .4rem .5rem;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #446ff1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1.5px;
}

.btn:hover {
    background-color: #2b59e3;
}


/* Dark mode */
/*
body {
    background-color: rgb(57, 56, 56);
    color: white;
}

.container {
    background-color: rgb(42, 41, 41);
    border-color: rgb(96, 96, 96);
}

.display-sec input {
    background-color: rgb(218, 216, 216);
}

.checks div input {
    background-color: rgb(218, 216, 216);
}

.btn {
    color:rgb(239, 239, 239);;;
}
*/